{% extends 'app/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-4 offset-4" >
        <h4>ADD CONTACT DETAILS CAREFULLY</h4>
        {% if messages %}
            {% for message in messages %}
                <span style="background-color: yellow;"  {% if message.tags %} class="{{message.tags }}"  {% endif %} >{{ message }}</span>
            {% endfor %}
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <p>{{form.as_p}}</p>
            <input type="submit" class="btn btn-primary" value="submit">
            <a href="/" class="btn btn-info d-inline">Back to Home</a>
        </form>
    </div>
</div>
{% endblock content %}